body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  word-wrap: normal;
}